*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 100%;
    height: 100%;
    // background-color: red; 

    position: relative;

    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;

        .head{

            h1{
                font-size: 3em;
            }
        }

        .nav{
            width: 40%;
            height: 4em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3rem 0;
            // background-color: aqua;

            .target{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                font-size: 1.3em;
                background-color: rgb(170, 115, 115);
                padding: 0.5em ;
                border-radius: 0.7em;
            }
            .time{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                font-size: 1.3em;
                background-color: rgb(170, 115, 115);
                padding: 0.5em;
                border-radius: 0.7em;
            }
            .score{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                font-size: 1.3em;
                background-color: rgb(170, 115, 115);
                padding: 0.5em;
                border-radius: 0.7em;
            }
        }
        .bubbles-container{
            width: 40%;
            height: 100%;
            padding: 2em;
            background-color: bisque;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5em;
            flex-shrink: 1;
            
            
            .circle{
                // align-items: center;
                flex-grow: 1;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color:cadetblue;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: white;
                font-size: 1.6em;
                font-weight: 700;
                // color: rgb(red, green, blue);
               

            }
        }
        .button-div{
            display: flex;
            justify-content: center;
            gap: 1em;
            margin-top: 2em;

            button{
                padding: 1em;
                font-size: 1em;
                border-radius: 1em;
                font-weight: 600;
                cursor: pointer;

                &:active{
                    transform: scale(0.9);
                }
            }
            #start{
                background-color: rgb(70, 230, 70);
            }
            #reset{
                background-color: rgb(228, 91, 91);
            }

        }
    }
}